Functional Requirements:

Andrew Dodel

1. The player can select, from the GUI, one of four different difficulties (easy - 5x5, medium - 7x7, hard - 10x10, or crazy - 15x15)
2. Upon selecting a difficulty, the game divides the chosen picture into an appropriate grid size. 
3. Player information and highscores are sent and stored on a server, rather than placed in local storage. 

Andrew Jia

4. After dividing the picture, game will randomize positions of pieces.
5. Player can click on a tile to move it to the empty space.
6. Game will not allow players to move tiles that are not adjacent to the empty space.

Brendan Campbell

7. The player can provide a picture for use in creating the puzzle.
8. Puzzles can be created using included default photos or the user's provided photo.
9. The app will store pictures provided by the user for future use. 
10. There will be a tutorial teaching the player the objective of the puzzle and how to move the tiles around the board.

Yuxin Zhang

11. The app should store enough default photos for user to select. 
12. The gallery should be categorized as nature, portrait, cartoon, customize…
13. The score are calculate based on moves(timing).

Sundar Sampath

14. Upon successful completion of a game, the application shall display a congratulatory message to the user, displaying the score for that game.  
15. After displaying a congratulatory message (following the sucessful completion of a game), the application shall allow the user to enter his/her name for score recording.  
16. The player's current score shall be displayed and continuously updated both with the passing of every second and turn.  


Non-functional Requirements:

Andrew Dodel 

1. The player should only be able to view their own highscores, and not those of another player unless it's the overall highscore for a given game type
2. Game moves should have a sub 1 second response time.

Andrew Jia

3. Game is easy to understand and intuitive.
4. Game is entertaining.

Brendan Campbell

5. The game will have a toggleable sound effect when a tile is moved.
6. The game will be made to be played with a mouse.

Sundar Sampath

7. The game shall be reliable, having fewer than 1 crash per 100 games. 
8. The game shall be extensible, the addition of new, modified game types should be seamless.  
