Click==7.0
Flask==1.0.2
Flask-Images==3.0.1
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2>=2.10.1
MarkupSafe==1.1.1
PIL==1.1.7
Pillow==6.0.0
pillowcase==2.0.0
six==1.12.0
SQLAlchemy==1.3.0
Werkzeug==0.14.1
