.crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.crop img {
    width: 300px;
    height: 300px;
}

#t00 {
    margin: 0 0 0 0;
}

#t01 {
    margin: 0 0 0 -100px;
}

#t02 {
    margin: 0 0 0 -200px;
}

#t10 {
    margin: -100px 0 0 0;
}

#t11 {
    margin: -100px 0 0 -100px;
}

#t12 {
    margin: -100px 0 0 -200px;
}

#t20 {
    margin: -200px 0 0 0;
}

#t21 {
    margin: -200px 0 0 -100px;
}

#t22 {
    margin: 0 0 0 0;
}