<!DOCTYPE html>
<html>
	<head>
    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type="text/css" href="/static/special/style.css">
    
	  <title>Guide</title>
		<style>
			.header{
        color: white; font-size: 25px; font: Arial; margin: 0px;
      }
      .guide{
        color: white;
        font-size: 20px;
        font: Arial;
        margin: 10px;
      }
		</style>
	</head>
	<body>
    <div class="header">
      <h1> How To Play</h1>
    </div>
    <div>
		  <img src="{{ url_for('static', filename='special/image/demo.gif')}}" alt="demo.gif" ALIGN="left"/>
    </div>
		<div class="guide">
        <p><strong>
        Slyyde puzzles consist of a grid of tiles whose positions have been randomized. When organized the correct way, the tiles will form a picture. There is always one empty tile in the grid. Adjacent tiles can be moved into the empty space, leaving a new empty space where the tile that was just moved was. The goal of the game is to re-create the picture by moving the tiles around in the quickest and least moves you can.
        </strong></p>
		</div>
		<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>