body{
	background-image:  url({{ url_for('static', filename='/special/mainBack.jpg')}});
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
}
