body{
	background-image:  url({{ url_for('static', filename='/special/mainBack.jpg')}});
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
}

.button{
	background-image: linear-gradient(to right,#808080, #A9A9A9, #808080);
	height:40px;
	width: 400px;
	border-radius: 10px;
	font-family: Arial;
	color: black;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;
}
.buttonUser{
	background-color: transparent;
	height: 35px;
	width: 150px;
	border-radius: 10px;
	border-color: white;
	font-family: Arial;
	color: white;
	font-size: 15px;
	text-align: center;
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;
}